:root {
    --screen-left: 0px;
    --screen-top: 0px;
    --screen-width: 1024px;
    --screen-height: 727px;
    --screen-color: #6D1B65;
    --header-height: 55px;
    --side-width: 155px;
    --side-color: rgba(50,50,50,0.25);
    --percent-width: calc(var(--side-width) - 23px);
    --percent-height: 20px;
    --thick-border: 2px solid #FFFFFF;
    --thin-border: 1px solid #FFFFFF;
    --large-radius: 0.5em;
    --small-radius: 0.4em;
    --font-color: #FFFFFF;
    --font-text1: 25pt;
    --font-text2: 18pt;
    --font-text3: 14pt;
    --font-text4: 12pt;
    --font-text5: 11pt;
    --font-text6: 10pt;
    --font-text7: 9pt;
}
body {
    background-color: #323232;
    font-family: Arial, Helvetica, sans-serif;
	color: var(--font-color);
    margin: 0px;
}
img, span {
    vertical-align: middle;
}
.title {
    font-size: var(--font-text1);
    font-weight: bold;
}
.error {
    color: #FF1D25;
}
#frame {
    background: url('../images/wallpaper.jpg') no-repeat;
    background-color: var(--screen-color);
    background-size: var(--screen-width) var(--screen-height);
	width: var(--screen-width);
	border-collapse: collapse;
}
#header {
    background-color: rgba(50,50,50,0.50);
    width: 100%;
    border-collapse: collapse;
}
#logo {
    width: 30px;
    margin: 5px;
}
button {
    color: var(--font-color);
}
button:hover {
    cursor: pointer;
}
button.small {
    background-color: #000000;
    border: var(--thin-border);
    border-radius: var(--small-radius);
    font-size: var(--font-text7);
}
button.small:hover {
	border-color: #3FA9F5;
}
button.header, #menu button {
    background-color: transparent;
    border: var(--thick-border);
    border-radius: var(--large-radius);
    font-size: var(--font-text3);
    font-weight: bold;
}
button.header table {
	width: 125px;
    height: 40px;
}
button.header td:nth-child(1) {
    width: 30px;
}
button.header img {
    width: 25px;
}
#corner {
    height: var(--header-height);
    margin-right: 5px;
    border-collapse: collapse;
}
#corner img {
    height: 18px;
}
#corner tr:nth-child(1) {
    text-align: right;
}
#corner tr:nth-child(1) span {
    font-size: var(--font-text5);
    font-weight: bold;
}
#corner tr:nth-child(2) input[type="search"] {
    width: 180px;
    height: 20px;
    margin-left: 2px;
}
#menu {
	width: var(--side-width);
	background-color: var(--side-color);
}
#menu ul {
    margin: 0px;
	padding: 0px;
	list-style: none;
}
#menu li {
    margin: 4px;
}
#menu button {
    width: calc(var(--side-width) - 10px);
	height: 40px;
}
#panel {
    background-color: var(--side-color);
}
#side {
    width: calc(var(--side-width) - 5px);
    margin-bottom: 3px;
	border: var(--thick-border);
	border-radius: var(--large-radius);
	text-align: center;
}
#side .divider {
	border-bottom: 1px solid #FFFFFF;
}
#side .section {
	width: calc(var(--side-width) - 15px);
}
#side .header {
    font-size: var(--font-text4);
    font-weight: bold;
    color: var(--screen-color);
	background-color: #FFFFFF;
    border-radius: var(--large-radius);
}
#side .subheader {
    font-size: var(--font-text7);
    font-weight: bold;
}
#side .text {
    font-size: var(--font-text7);
}
#controls {
	width: calc(var(--side-width) - 20px);
	height: 40px;
	border: var(--thick-border);
	border-radius: var(--large-radius);
}
#controls img {
    width: 25px;
}
#controls img:hover {
    cursor: pointer;
}
#side .results {
    margin-left: 5px;
    vertical-align: 1px;
}
#side .load, #side .progress {
    width: var(--percent-width);
    height: var(--percent-height);
    border: var(--thin-border);
}
#side .bar {
    position: relative;
    width: 0%;
    height: 100%;
}
#side .percent {
    position: absolute;
    width: var(--percent-width);
    font-size: var(--font-text5);
    font-weight: bold;
    line-height: var(--percent-height);
}
#side .error {
    vertical-align: bottom;
}