:root {
    --screen-left: 0px;
    --screen-top: 0px;
    --screen-width: 1024px;
    --screen-height: 727px;
    --screen-color: #6D1B65;
    --header-height: 55px;
    --side-width: 155px;
    --side-color: rgba(50,50,50,0.25);
    --percent-width: calc(var(--side-width) - 23px);
    --percent-height: 20px;
    --thick-border: 2px solid #FFFFFF;
    --thin-border: 1px solid #FFFFFF;
    --large-radius: 0.5em;
    --small-radius: 0.4em;
    --font-color: #FFFFFF;
    --font-text1: 25pt;
    --font-text2: 18pt;
    --font-text3: 14pt;
    --font-text4: 12pt;
    --font-text5: 11pt;
    --font-text6: 10pt;
    --font-text7: 9pt;
}
body {
    background-color: #323232;
    font-family: Arial, Helvetica, sans-serif;
	color: var(--font-color);
    margin: 0px;
}
img, span {
    vertical-align: middle;
}
.title {
    font-size: var(--font-text1);
    font-weight: bold;
}
.error {
    color: #FF1D25;
}
#frame {
    background: url('../images/wallpaper.jpg') no-repeat;
    background-color: var(--screen-color);
    background-size: var(--screen-width) var(--screen-height);
	width: var(--screen-width);
	border-collapse: collapse;
}
#header {
    background-color: rgba(50,50,50,0.50);
    width: 100%;
    border-collapse: collapse;
}
#logo {
    width: 30px;
    margin: 5px;
}
button {
    color: var(--font-color);
}
button:hover {
    cursor: pointer;
}
button.small {
    background-color: #000000;
    border: var(--thin-border);
    border-radius: var(--small-radius);
    font-size: var(--font-text7);
}
button.small:hover {
	border-color: #3FA9F5;
}
button.header, #menu button {
    background-color: transparent;
    border: var(--thick-border);
    border-radius: var(--large-radius);
    font-size: var(--font-text3);
    font-weight: bold;
}
button.header table {
	width: 125px;
    height: 40px;
}
button.header td:nth-child(1) {
    width: 30px;
}
button.header img {
    width: 25px;
}
#corner {
    height: var(--header-height);
    margin-right: 5px;
    border-collapse: collapse;
}
#corner img {
    height: 18px;
}
#corner tr:nth-child(1) {
    text-align: right;
}
#corner tr:nth-child(1) span {
    font-size: var(--font-text5);
    font-weight: bold;
}
#corner tr:nth-child(2) input[type="search"] {
    width: 180px;
    height: 20px;
    margin-left: 2px;
}
#menu {
	width: var(--side-width);
	background-color: var(--side-color);
}
#menu ul {
    margin: 0px;
	padding: 0px;
	list-style: none;
}
#menu li {
    margin: 4px;
}
#menu button {
    width: calc(var(--side-width) - 10px);
	height: 40px;
}
<<<<<<< HEAD
#main {
    background-color: transparent;
    vertical-align: top;
}
.main-table {
    width: var(--main-table-width);
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: transparent;
}
.main-table th:nth-child(1) {
    width: var(--checkbox-width);
    height: var(--main-table-header-height);
}
.main-table td:nth-child(1) {
    width: var(--checkbox-width);
    height: 30px;
}
.check-box {
    width: 15px;
    height: 15px;
}
.main-table thead {
    height: 30px;
    display: block;
    position: relative;
}
.main-table tbody {
    max-height: 580px;
    display: block;
    overflow-y: auto;
}
.main-table tr th {
    background-color: var(--main-table-color1);
}
.main-table tr:nth-child(even) th:nth-child(even), 
.main-table tr:nth-child(odd) th:nth-child(odd)
{
    background-color: var(--main-table-color2);
}
.main-table tr td {
    background-color: var(--main-table-color1);
}
.main-table tr:nth-child(even) td:nth-child(odd), 
.main-table tr:nth-child(odd) td:nth-child(even)
{
    background-color: var(--main-table-color2);
}
.main-table tr:hover td:nth-child(n) {
    background-color: var(--main-table-color3);
}
.main-table th {
    font-size: 11pt;
    border: var(--main-table-border);
}
.main-table td {
    font-size: 10pt;
    border: var(--main-table-border);
}
.main-table td img {
    vertical-align: middle;
}
#empty-table {
    position: absolute;
    left: calc(var(--side-width) + 3px);
    top: calc(var(--header-height) + var(--main-table-header-height) + 12px);
    width: calc(var(--screen-width) - var(--side-width) - 29px);
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    background-color: #992029;
    visibility: hidden;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltip-text {
    position: absolute;
    left: 0px;
    top: -5px;
    padding: 5px;
    z-index: 1;
    border-radius: var(--border-radius);
    background-color: #333333;
    visibility: hidden;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
}
.main-progress {
    width: var(--progress-width);
    height: var(--progress-height);
    margin: 0 auto;
    border: var(--progress-border);
}
.main-bar {
    position: relative;
    width: 0%; /*TODO: If we want to use the progress bar, we need to be able to change it */
    height: 100%;
    background-color: #FFFFFF;
}
.main-percentage {
    position: absolute;
    top: 0px;
    width: var(--progress-width);
    font-size: 9pt;
    font-weight: bold;
    color: #333333;
    text-align: center;
    line-height: var(--progress-height);
}
#jobs-table th:nth-child(2) {
    width: var(--jobs-name-width);
}
#jobs-table td:nth-child(2) {
    width: var(--jobs-name-width);
    text-align: left;
}
#jobs-table th:nth-child(3) {
    width: var(--jobs-source-width);
}
#jobs-table td:nth-child(3) {
    width: var(--jobs-source-width);
    text-align: left;
}
#jobs-table th:nth-child(4), #jobs-table td:nth-child(4) {
    width: var(--jobs-priority-width);
}
.priority-field {
    width: calc(0.070 * var(--main-table-width));
}
#jobs-table th:nth-child(5), #jobs-table td:nth-child(5) {
    width: var(--jobs-status-width);
}
#jobs-table th:nth-child(6), #jobs-table td:nth-child(6) {
    width: var(--jobs-progress-width);
}
#jobs-table th:nth-child(7), #jobs-table td:nth-child(7) {
    width: var(--jobs-controls-width);
}
#jobs-table th:nth-child(8), #jobs-table td:nth-child(8) {
    width: var(--jobs-results-width);
}
#jobs-table th:nth-child(9), #jobs-table td:nth-child(9) {
    width: var(--jobs-units-width);
}
#jobs-table th:nth-child(10), #jobs-table td:nth-child(10) {
    width: var(--jobs-tpb-width);
}
.tpb-field {
    width: calc(0.150 * var(--main-table-width));
}
#units-table th:nth-child(2) {
    width: var(--units-name-width);
}
#units-table td:nth-child(2) {
    width: var(--units-name-width);
    text-align: left;
}
#units-table th:nth-child(3), #units-table td:nth-child(3) {
    width: var(--units-ip-width);
}
#units-table th:nth-child(4), #units-table td:nth-child(4) {
    width: var(--units-mac-width);
}
#units-table th:nth-child(5), #units-table td:nth-child(5) {
    width: var(--units-status-width);
}
#units-table th:nth-child(6), #units-table td:nth-child(6) {
    width: var(--units-cpu-width);
}
#units-table th:nth-child(7), #units-table td:nth-child(7) {
    width: var(--units-ram-width);
}
#units-table th:nth-child(8), #units-table td:nth-child(8) {
    width: var(--units-jobs-width);
}
#units-table th:nth-child(9), #units-table td:nth-child(9) {
    width: var(--units-cores-width);
=======
#panel {
    background-color: var(--side-color);
>>>>>>> joel/newedits
}
#side {
    width: calc(var(--side-width) - 5px);
    margin-bottom: 3px;
	border: var(--thick-border);
	border-radius: var(--large-radius);
	text-align: center;
}
#side .divider {
	border-bottom: 1px solid #FFFFFF;
}
#side .section {
	width: calc(var(--side-width) - 15px);
}
#side .header {
    font-size: var(--font-text4);
    font-weight: bold;
    color: var(--screen-color);
	background-color: #FFFFFF;
    border-radius: var(--large-radius);
}
#side .subheader {
    font-size: var(--font-text7);
    font-weight: bold;
}
#side .text {
    font-size: var(--font-text7);
}
#controls {
	width: calc(var(--side-width) - 20px);
	height: 40px;
	border: var(--thick-border);
	border-radius: var(--large-radius);
}
#controls img {
    width: 25px;
}
#controls img:hover {
    cursor: pointer;
}
#side .results {
    margin-left: 5px;
    vertical-align: 1px;
}
#side .load, #side .progress {
    width: var(--percent-width);
    height: var(--percent-height);
    border: var(--thin-border);
}
#side .bar {
    position: relative;
    width: 0%;
    height: 100%;
}
#side .percent {
    position: absolute;
    width: var(--percent-width);
    font-size: var(--font-text5);
    font-weight: bold;
    line-height: var(--percent-height);
}
#side .error {
    vertical-align: bottom;
}